@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(222, 222, 222);
}

.nav {
    background-color: #1C2120;
    background-size:cover;
    height: 96vh;
    width: 14.9%;
    padding: 0 10px 0 10px;
    margin: 0px 0px 0px 15px;
    border-radius: 15px;
    position: fixed;
    box-shadow: 0px 0px 30px 0px #1C2120;
}

.img-dash {
    height: 20px;
    padding-right: 5px;
}

.logo {
    height: 22vh;
    width: 22vh;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nava {
    text-decoration: none;
}

.nav-tabs {
    text-align: left;
    padding: 20px 25px 20px 25px;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Archivo Black', sans-serif;*/
    font-size: 20px;
    transition: transform .2s;
    text-align: center;
    text-decoration: none;
    color: white;
}

.hr {
    margin: 0 20px 0 20px;
    color: white;
    text-decoration: none;
}

.nav-tabs:hover {
    transform: scale(1.05);
    /*background-color: #ffde56fe;*/
    background-color: white;
    color: #1C2120;
    margin: 0 13px 0 13px;
    border-radius: 15px;
}


.nav-tabs1 {
    text-align: left;
    padding: 20px 25px 20px 25px;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Archivo Black', sans-serif;*/
    font-size: 20px;
    transition: transform .2s;
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-tabs1:hover {
    transform: scale(1.05);
    /*background-color: #ffde56fe;*/
    background-color: white;
    color: red;
    margin: 0 13px 0 13px;
    border-radius: 15px;
}

.report-tab {
    background-color: #1C2120;
    width: 1220px;
    margin-left: 18.7%;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0px 0px 30px 0px #1C2120;
}

.report-tab p {
    color: aliceblue;
    display: flex;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.gen-report {
    margin-left: 18.7%;
    max-width: 187vh;
    display: flex;
}

.sales-report {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #1C2120;
    margin-right: 30px;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 30px 0px #1C2120;
}

.sales-report p{
    font-size: 40px;
    padding-bottom: 20px;
}

.sales-report button{
    align-items: center;
    padding: 15px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.sales-report button:hover {
    background-color: #FFC619;
    transform: scale(1.05);
}